<div id="wrapper">
<%= render "shared/header" %>
  <div id="contents">
    <h2>New Kakeiboについて</h2>
      <p>収支のカテゴリーは、あなたの好きな科目を登録することができる</p>
      <p>月ごとの収支をグラフで確認できる</p>
      <p>年間の収支をグラフで確認できる</p>
      <p>さあ、あなたも活用してみよう！！</p>
  </div>
  <br>
  <div id="sidebar">
    <p class="side-title">収支設定</p>
      <ul class="localnavi">
        <li><%= link_to "収入設定", :incomes %></li>
        <li><%= link_to "固定費設定", :fixedcosts %></li>
        <li><%= link_to "変動費設定", :variablecosts %></li>
      </ul>
        <p class="side-title">収支確認</p>
      <ul class="localnavi">
        <li><%= link_to "収支確認画面", balance_confirm_path %></li>
      </ul>
  </div>
  <p id="cds">Yoshiaki</p>
<%= render "shared/hooter" %>
</div>