<div id="header">
<p class="description"><%= link_to 'トップページへ戻る', root_path %></p>
<p class="logo"><%= link_to 'New Kakeibo', root_path %></p>
<ul class="ul-info">
    <% if user_signed_in? %>
      <li><%= link_to current_user.name, "#", class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
</ul>
</div>