<div id="wrapper">
  <%= render "shared/header" %>
    <div id="contents">
      <h2><%= link_to "収入の新規登録", new_income_path %></h2>
        <br>
      <h3>収入科目 データ一覧</h3>
      <% if @incomes.present? %>
      <table border="1">
        <tr>
          <th>登録年月</th>
          <th>名称</th>
          <th>金額</th>
          <th>備考</th>
          <th>操作</th>
        </tr>
        <% @incomes.each do |income| %>
        <tr>
        <td><%= income.year_month.strftime('%Y年%m月') %></td>
          <td><%= income.name %></td>
          <td><%= income.value.to_s(:delimited) %> 円</td>
          <td><%= income.description %></td>
          <td>
          <%= link_to "編集", [:edit, income] %> |
          <%= link_to "削除", income, method: :delete,data: { confirm: "本当に削除しますか？"} %>
          </td>
        </tr>
        <% end %>
      </table>
      <% else %>
        <p>登録されているデータがありません。</p>
      <% end %>
          </div>
          <br>
    <div id="sidebar">
    <p class="side-title">収支設定</p>
      <ul class="localnavi">
        <li><%= link_to "収入設定", :incomes %></li>
        <li><%= link_to "固定費設定", :fixedcosts %></li>
        <li><%= link_to "変動費設定", :variablecosts %></li>
      </ul>
        <p class="side-title">収支確認</p>
      <ul class="localnavi">
        <li><%= link_to "収支確認画面", balance_confirm_path %></li>
      </ul>
  </div>
  <p id="cds">Yoshiaki</p>
<%= render "shared/hooter" %>
</div>