<h2>収入登録</h2>
<%= form_with model: @income, local: true do |f| %>
  <%= link_to "収入一覧に戻る", incomes_path %>
<table>
  <tr>
    <th>登録年月</th>
    <th>名前</th>
    <th>値</th>
    <th>備考</th>
  </tr>
  <tr>  
    <td>
      <%= f.date_select :year_month,
            start_year: 2010, end_year: Time.current.year,
            use_month_numbers: true, discard_day: true, default: @year_month
            %>
    </td>
    <td><%= f.text_field :name %></td>
    <td><%= f.text_field :value, size: 8 %></td>
    <td><%= f.text_field :description, size: 25 %></td>
 </tr>
</table>
    <div><%= f.submit "保存する" %></div>
  
<% end %>

