<% @page_title = "変動費一覧" %>
<h2><%= @page_title %></h2>

<%= link_to "変動費の新規登録", new_variablecost_path %>

<% if @variablecosts.present? %>
<div>
  <div>
    <tr>
      <th>品名</th>
      <th>備考</th>
      <th>操作</th>
    </tr>
  </div>
  <div>
    <% @variablecosts.each do |variablecost| %>
      <tr>
        <td><%= variablecost.name %></td>
        <td><%= variablecost.description %></td>
        <td>
          <%= link_to "編集", [:edit, variablecost] %>
          <%= link_to "削除", variablecost, method: :delete,
          data: { confirm: "本当に削除しますか？"} %>
        </td>
      </tr>
    <% end %>
  </div>
</div>

<% else %>
  <p>登録されている固定費がありません</p>
<% end %>

<%= link_to 'トップページ戻る', root_path %>