<% @page_title = "固定費一覧" %>
<h2><%= @page_title %></h2>

<%= link_to "固定費の新規登録", new_fixedcost_path %>

<% if @fixedcosts.present? %>
<div>
  <div>
    <tr>
      <th>品名</th>
      <th>備考</th>
      <th>操作</th>
    </tr>
  </div>
  <div>
    <% @fixedcosts.each do |fixedcost| %>
      <tr>
        <td><%= fixedcost.name %></td>
        <td><%= fixedcost.description %></td>
        <td>
          <%= link_to "編集", [:edit, fixedcost] %>
          <%= link_to "削除", fixedcost, method: :delete,
          data: { confirm: "本当に削除しますか？"} %>
        </td>
      </tr>
    <% end %>
  </div>
</div>

<% else %>
  <p>登録されている固定費がありません</p>
<% end %>

<%= link_to 'トップページ戻る', root_path %>