<h2>収入登録</h2>
<%= form_with model: @income, local: true do |f| %>
  <%= link_to "収入一覧に戻る", incomes_path %>
  <div>
    <tr>
      <th><%= f.label :name, "名前" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description, "説明" %></th>
      <td><%= f.text_field :description %></td>
    </tr>
    <%= form_with model: @income_value, local: true do |fb| %>

<!-- 年月テーブル -->
<table>
  <tr>
    <th>登録年月</th>
    <th>値</th>
    <th>備考</th>
  </tr>

  <% cnt=0 %>
  <%= fb.fields_for :income_values do |f| %>
  <%= f.hidden_field :income_id %>

 <tr>
    <td>
      <%= fb.date_select :year_month,
            start_year: 2010, end_year: Time.current.year,
            use_month_numbers: true, discard_day: true, default: @year_month
            %>
    </td>
    <% cnt+=1 %>
    <td><%= fb.text_field :value, size: 8 %></td>
    <td><%= fb.text_field :description, size: 8 %></td>
  <% end %>
 </tr>
</table>
<% end %>
    <div><%= f.submit "保存する" %></div>
  </div>
  
<% end %>

